include setup.json
include aiida_lsmo/calcfunctions/*.yaml
include aiida_lsmo/calcfunctions/ff_flexible/*.def
include aiida_lsmo/workchains/isotherm_data/*
include aiida_lsmo/workchains/cp2k_multistage_protocols/*.yaml
include aiida_lsmo/workchains/cp2k_multistage_protocols/data/*.yaml
